<form id="slipRequestForm">
    <div class="row">
       <div class="col-md-4">
        Start Date:<br />
        <input type="text" placeholder="Start Date"  id="startDate" name="startDate" class="form-control date-picker" />
       </div>    
       <div class="col-md-4">
        Duration:<br />
        <input type="text" name="duration" id="duration" class="form-control" placeholder="Duration (months)" />
       </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-info btn-block" onclick="requestPayslip()">Submit Request</a>
        </div>
    </div>
</form>