                    <div class="table-responsive">
                            <table id="data-table" class="table data-table">
                                <thead>
                                    <tr>
                                       <th></th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th>To</th>
                                        <!--<th>Other Recipients</th>-->
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" onclick="openMemo(${ID})">
                                       <td><i class="zmdi zmdi-email"></i></td>
                                        <td><strong>${subject}</strong></td>
                                        <td>${mini_message}...</td>
                                        <td>${recipients}</td>
                                        <!--<td>${cc}</td>-->
                                        <td>${memo_date}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>