<h5>LATEST PERFORMANCE CONTRACT</h5>
<P>&nbsp;</P>
<div class="row">
 <div class="col-md-12"><p> Please see your current performance contract below.</p></div>
</div> 

  <form id="kpiForm">
  <input type="hidden" name="score_summary" />
        <table  class="table table-striped table-bordered" cellpadding="3" cellspacing="1">
          <tbody class="kpi-tbody">
            <tr >
              <td align="center">KPI</td>
              <td align="center">WEIGHT</td>
              <td align="center">MAX</td>
            </tr>
          </tbody>
        </table>
  </form>