<h5>Start New Appraisal</h5>
 <p>&nbsp;</p>
  <div class="overview">    
   <ul>
    <li>Please complete all sections. Sections that do not apply to the subject <strong>(candidate)</strong> of this report should be marked Not Applicable <strong>(NA).</strong></li>
    <li>Candidate as used in this report means the staff being appraised. </li>
    <li>Information contained herein is strictly confidential and is not, under any circumstances, to be disclosed to unauthorized third parties.</li>
  </ul>
<b>Appraisal Ratings:</b>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr style="">
          <th>
          <p align="center">RATING</p>
          
          </th><th colspan="2">
          <p>&nbsp;DESCRIPTION OF PERFORMANCE LEVEL AGAINST EXPECTATIONS</p>
          
        </th></tr>
        <tr style="">
            <td rowspan="1">
            <p align="center">A+ = Outstanding<br>(100 &amp;above)</p>
            </td>
            <td colspan="2">
            <p>Outstanding performance. The jobholder has met and exceed the agreed goals. His/her contribution to
                the Organization’s results is outstanding and commendable. </p>
            </td>
          </tr>
        <tr style="">
          <td rowspan="1">
          <p align="center">A = Excellent<br>(85 - 99)</p>
          </td>
          <td colspan="2">
          <p>Excellent performance. The jobholder has met agreed goals. His/her contribution to the
              Organization’s results is well above the level of good, well-motivated and able jobholders.</p>
          </td>
        </tr>
        <tr style="">
          <td rowspan="1">
          <p align="center">B = Good<br>(70 - 84) </p>
          </td>
          <td colspan="2">
          <p>Successfully achieves key requirements of position. The jobholder has met the agreed goals. His/her
              contribution to the Organization’s result is above the level of good, well-motivated and able
              jobholders.</p>
          </td>
        </tr>
        <tr style="">
          <td rowspan="1">
          <p align="center">C = Average<br>(65 - 69)</p>
          </td>
          <td colspan="2">
          <p>Achieves requirements of position. The jobholder has achieved some of the agreed goals. His/her
              contribution to the Organization’s results is well up to expectations. However, there is room for
              improvement. 
</p>
          </td>
        </tr>
        <tr style="height: 27.95pt;">
          <td rowspan="1">
          <p align="center">D = Needs Improvement<br>(55 - 64)</p>
          </td>
          <td colspan="2">
          <p>Performance has met some but not all standards. The jobholder has not fully met the agreed goals.
              His/her contribution to the Organization’s result is below the level of good, well-motivated and able
              jobholders. If performance remains the same at the next review, a Performance Improvement Process
              should be initiated.
</p>
          </td>
        </tr>
        <tr style="">
          <td rowspan="1">
          <p align="center">E = Not Acceptable<br>(0 - 54)</p>
          </td>
          <td colspan="2">
          <p>Not meeting performance requirements of position, the jobholder has not met the agreed goals. To
              contribute to the Organization’s results, urgent improvements are needed. A performance
              Improvement Process should be initiated immediately</p>
          </td>
        </tr>
      </tbody>
    </table>
  <p><strong><u>GUIDELINES FOR DISCUSSION AND KEY OUTPUTS OF PERFORMANCE ASSESSMENT WITH THE CANDIDATE</u></strong></p>
  <p>Main points of the discussion</p>
  <ul type="disc">
    <li>General performance evaluation.</li>
    <li>Performance review of specific work objectives agree on at the last appraisal.</li>
    <li>Areas of strength/weaknesses (to be developed through T&amp;D and new work assignments).</li>
    <li>Other next steps (to be kept in focus during next 3 months).</li>
  </ul>
  <p>&nbsp;</p>
   <a class="btn btn-primary" onclick="step1()">Continue</a>
    </div>